<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Es.Udc.DotNet.PracticaMaD.WebApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  
  <system.web>
    <!-- Cultural preferences of the Web site -->
    <globalization culture="auto:en" uiCulture="auto:en-US" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.2" />
    <!-- The <authentication> section enables configuration of the security 
         authentication mode used by ASP.NET to identify an incoming user.  
         
         cookieless valid values : 
            "True" or "UseUri"      ==> AuthTicket included in URL (UrlRewriting)
            "False" or "UseCookies" ==> AuthTicket included in a local Cookie
            "AutoDetect"            ==> Cookies will be used if client browsers
                                        allows it
         -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="~/Pages/User/Authentication.aspx" timeout="30" path="/" defaultUrl="~/Pages/MainPage.aspx" cookieless="AutoDetect" />
    </authentication>
    
    <authorization>
      <deny users="?" />
    </authorization>

    <!-- Session will not use cookies if the client does not allow it. 
         
         cookieless valid values : 
            "True" or "UseUri"      ==> SessionID included in URL (UrlRewriting)
            "False" or "UseCookies" ==> SessionID included in a local Cookie
            "AutoDetect"            ==> Cookies will be used if client browsers
                                        allows it
    -->
    <sessionState cookieless="UseCookies" timeout="30" />

    <!-- The <customErrors> section enables configuration of what to do 
         if/when an unhandled error occurs during the execution of a request.
    
         Specifically, it enables developers to configure HTML error pages 
         to be displayed in place of a error stack trace.
         
         Mode = "On"         Set custom error page for all users
         Mode = "Off"        Default page error (exception info) will be used
         Mode = "RemoteOnly" Set custom error page for remote clients
                             Local requests will show the exception details
         -->
    <!-- InternalError is showed when an Unhandled exception is raised -->
    <customErrors mode="Off" defaultRedirect="~/Pages/Errors/InternalError.aspx" />

    <!-- This section denies access to all files in this application except 
         for those that you have not explicitly specified by using another 
         setting. -->
    
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  
  <!--Añadido por mi por un error que daba mas info en : https://stackoverflow.com/questions/16660900/webforms-unobtrusivevalidationmode-requires-a-scriptresourcemapping-for-jquery -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <connectionStrings>
    <add name="madDatabaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=madDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

    <!-- This section gives the unauthenticated user access to the Products Result page -->
  <location path="Pages/Product">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!-- This section gives the unauthenticated user access to the register page
       only. -->
  <location path="Pages/User">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/User/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- This section gives the unauthenticated user access to the error page -->
  <location path="Pages/Errors/InternalError.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- This section gives the unauthenticated user access to the styles -->
  <location path="css/Styles.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- This section gives the unauthenticated user access to the Main Page -->
  <location path="Pages/MainPage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- This section gives the unauthenticated user access to the Shopping Cart page -->
  <location path="Pages/ShoppingCart/ShoppingCart.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  

  
  <!-- This section gives the unauthenticated user access to the trace.axd -->
  <location path="trace.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
<applicationSettings>
        <Es.Udc.DotNet.PracticaMaD.WebApplication.Properties.Settings>
                <setting name="AmazonMarket_defaultCount" serializeAs="String">
                        <value>2</value>
                </setting>
                <setting name="ObjectDS_ProductsResult_Service" serializeAs="String">
                        <value>Es.Udc.DotNet.PracticaMaD.Model.ModelService.ProductService.IProductService</value>
                </setting>
                <setting name="ObjectDS_ProductsResult_SelectMethod" serializeAs="String">
                        <value>FindByKeywords</value>
                </setting>
                <setting name="ObjectDS_ProductsResult_CountMethod" serializeAs="String">
                        <value>getNumberOfProductsByKeywords</value>
                </setting>
                <setting name="ObjectDS_ProductsResult_StartIndexParameter" serializeAs="String">
                        <value>startIndex</value>
                </setting>
                <setting name="ObjectDS_AccountOperations_CountParameter" serializeAs="String">
                        <value>count</value>
                </setting>
                <setting name="Cards_defaultCount" serializeAs="String">
                        <value>3</value>
                </setting>
                <setting name="ObjectDS_SeeMyCards_Service" serializeAs="String">
                        <value>Es.Udc.DotNet.PracticaMaD.Model.ModelService.CardService.ICardService</value>
                </setting>
                <setting name="ObjectDS_SeeMyCards_SelectMethod" serializeAs="String">
                        <value>ViewCardsByUser</value>
                </setting>
                <setting name="ObjectDS_SeeMyCards_StartIndexParamete" serializeAs="String">
                        <value>startIndex</value>
                </setting>
                <setting name="ObjectDS_SeeMyCards_CountParameter" serializeAs="String">
                        <value>count</value>
                </setting>
                <setting name="ObjectDS_SeeMyCards_CountMethod" serializeAs="String">
                        <value>GetNumberOfCardsByUser</value>
                </setting>
                <setting name="Orders_defaultCount" serializeAs="String">
                        <value>3</value>
                </setting>
                <setting name="ObjectDS_SeeMyOrders_SelectMethod" serializeAs="String">
                        <value>ViewOrdersByUser</value>
                </setting>
                <setting name="ObjectDS_SeeMyOrders_Service" serializeAs="String">
                        <value>Es.Udc.DotNet.PracticaMaD.Model.ModelService.OrderService.IOrderService</value>
                </setting>
                <setting name="ObjectDS_SeeMyOrders_CountMethod" serializeAs="String">
                        <value>GetOrdersByUser</value>
                </setting>
                <setting name="ObjectDS_SeeMyOrders_CountParameter" serializeAs="String">
                        <value>count</value>
                </setting>
                <setting name="ObjectDS_SeeMyOrders_StartIndexParameter" serializeAs="String">
                        <value>startIndex</value>
                </setting>
                <setting name="Tags_defaultCount" serializeAs="String">
                        <value>3</value>
                </setting>
                <setting name="ObjectDS_ProductsByTag_Service" serializeAs="String">
                        <value>Es.Udc.DotNet.PracticaMaD.Model.ModelService.ProductService.IProductService</value>
                </setting>
                <setting name="ObjectDS_ProductsByTag_SelectMethod" serializeAs="String">
                        <value>FindByTag</value>
                </setting>
                <setting name="ObjectDS_ProductsByTag_CountMethod" serializeAs="String">
                        <value>GetNumberOfProductsByTag</value>
                </setting>
                <setting name="ObjectDS_ProductsByTag_CountParameter" serializeAs="String">
                        <value>count</value>
                </setting>
                <setting name="ObjectDS_ProductsByTag_StartIndexParameter" serializeAs="String">
                        <value>startIndex</value>
                </setting>
        </Es.Udc.DotNet.PracticaMaD.WebApplication.Properties.Settings>
    </applicationSettings>
</configuration>